[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".vim/pack/foo/start/vim-nix"]
	path = .vim/pack/foo/start/vim-nix
	url = http://github.com/LnL7/vim-nix.git
[submodule ".vim/pack/foo/start/vim-sensible"]
	path = .vim/pack/foo/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
